#header_navbar>div {
  margin-right: 4em;
}
#navbarSupportedContent {
  justify-content: flex-end;
}

#resume {
  margin-top: 20px;
}

#learn {
  border: none;
  bottom: 0;
  height: 2em;
  left: 45%;
  opacity: 1;
  outline: 0;
  position: absolute;
}

.pulse {
  animation: move_up_down 2s linear infinite;
}

@keyframes move_up_down {
  0%, 100% {
    bottom: 10px;
    opacity: 1;
  }
  50% {
    bottom: 50px;
    opacity: .2;
  }
}

#current_stack {
  // background-color: #253246;

  h4, p {
    // color: #E8E6E3;
  }

  .section_title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 4rem;
    }
  }

  p {
    text-align: justify;
  }

  img {
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  div>div:nth-child(2)>div>div>img {
    width: 6rem;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;

    &:hover {
      cursor: pointer;
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear;
    }
  }
}

#about {
  // background-color: #233044;

  .about_area {
    // background-color: #233044;
  }
}

#experience {
  // background-color: #222E41;
  .company {
    height: 100px;
  }

  #companies {
    div>img.product {
      height: 250px;
    }
    div>img.company {
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      -ms-transition: all 200ms linear;
      transition: all 200ms linear;

      &:hover {
        cursor: pointer;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear;
      }
    }
  }

  p {
    // color: white;
    text-align: justify;
  }
}

#interests {
  // background-color: #212D3F;

  .small_image {
    height: 100%;
    width: auto;
  }
}

#blog {
  // background-color: #1F2B3C;
}

.about_image {
  width: 40%;
}

.pt-120 {
  // padding-bottom: 120px;
}

.hero_content {
  p {
    letter-spacing: 0.5em;
    text-transform: uppercase;
  }
}

.section_title .title {
  // color: white;
}

.material-icons {
  // font-size: 40px;
}

.meta {
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}