<div class="preloader">
  <div class="loader">
    <div class="ytp-spinner">
      <div class="ytp-spinner-container">
        <div class="ytp-spinner-rotator">
          <div class="ytp-spinner-left">
            <div class="ytp-spinner-circle"></div>
          </div>
          <div class="ytp-spinner-right">
            <div class="ytp-spinner-circle"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section id="home" class="header_area">
  <div id="header_navbar" class="header_navbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
              <span class="toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
              <ul id="nav" class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="page-scroll active" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#current_stack">About</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-center" style="background-image: url(assets/images/banner.jpg)">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="hero_content text-center">
              <h2 class="hero_title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
                data-wow-delay=".2s">Tien Vo</h2>
              <p id="title" class="wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
                data-wow-delay=".7s">Software Engineer</p>
              <a id="resume" href="../assets/docs/Tien Vo Resume.pdf" download
                class="main-btn wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
                data-wow-delay="1s">Download Resume</a>
              <!-- <a href="#features" class="main-btn wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".8s">Learn
                More</a> -->
              <a id="learn" href="#current_stack" class="secondary-btn pulse" data-wow-duration="1.3s"
                data-wow-delay="1.4s">
                <span class="material-icons md-48">expand_more</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="current_stack" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">Current
            Tech Stack</h4>
          <!-- <img src="../assets/images/aws_black.png" alt="AWS" (click)="open_page('aws')" class="wow {{get_animated_class('fadeInUp')}}"  data-wow-duration="1.3s" data-wow-delay=".2s"> -->
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".2s">
          <img src="../assets/images/aws_lambda.svg" alt="AWS Lambda" (click)="open_page('lambda')">
          <h4 class="features_title">AWS Lambda</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".4s">
          <img src="../assets/images/dynamo_db.svg" alt="Dynamo DB" (click)="open_page('dynamo_db')">
          <h4 class="features_title">Dynamo DB</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="single_features text-center mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".6s">
          <img src="../assets/images/api_gateway.svg" alt="AWS API Gateway" (click)="open_page('api_gateway')">
          <h4 class="features_title">API Gateway</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="about_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">
            Current Projects</h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 single_portfolio wow {{get_animated_class('fadeInRight')}}" data-wow-duration="1.3s"
        data-wow-delay=".2s">
        <img id="dota" src="assets/images/personal_website.png" alt="Interests" class="small_image">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="https://github.com/Tempest-Blue/tien" target="_blank"><span
                  class="material-icons md-36">open_in_new</span></a></li>
          </ul>
          <h5 class="portfolio_title">View on Github</h5>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about_content pt-120 pb-130">
          <div class="section_title pb wow {{get_animated_class('fadeInRight')}}">
            <h4 class="title" data-wow-duration="1.3s" data-wow-delay=".2s">
              Personal Website
            </h4>
            <ul class="dashed">
              <li>Built with Angular</li>
              <br>
              <h6>Planned Enhancements</h6>
              <ul class="dashed">
                <li>Better animations</li>
                <li>Better mobile experience</li>
                <li>Allow user to optionally play a video through using the banner</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="about_content pt-120 pb-130">
          <div class="section_title pb wow {{get_animated_class('fadeInLeft')}}">
            <h4 class="title" data-wow-duration="1.3s" data-wow-delay=".2s">
              Silver Screen
            </h4>
            <ul class="dashed">
              <li>Built with React</li>
              <li>Integrated with The Movie Database API</li>
              <li>Displays recently released movies in theaters sorted by popularity</li>
              <br>
              <h6>Planned Enhancements</h6>
              <ul class="dashed">
                <li>User selected filtering options</li>
                <li>Modal linked direclty to reviews</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-6 single_portfolio wow {{get_animated_class('fadeInRight')}}" data-wow-duration="1.3s"
        data-wow-delay=".2s">
        <img id="dota" src="assets/images/silver_screen.png" alt="Interests" class="small_image">
        <div class="portfolio_content">
          <ul class="meta">
            <li><a href="https://tempest-blue.github.io/silver_screen/" target="_blank"><span
                  class="material-icons md-36">open_in_new</span></a></li>
          </ul>
          <h5 class="portfolio_title">Demo</h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay=".2s">
        <img src='assets/images/coming_soon.png' />
      </div>
      <div class="col-lg-6">
        <div class="about_content pt-120 pb-130">
          <div class="section_title pb wow {{get_animated_class('fadeInRight')}}">
            <h4 class="title" data-wow-duration="1.3s" data-wow-delay=".2s">
              Cut Corners
            </h4>
            <ul class="dashed">
              <li>Built with React</li>
              <li>Blog of quality of life enhancements found in my professional career</li>
              <br>
              <h6>Topics Discussed</h6>
              <ul class="dashed">
                <li>ServiceNow</li>
                <li>AWS</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div class="about_content pt-120 pb-130">
          <div class="section_title pb wow {{get_animated_class('fadeInRight')}}">
            <h4 class="title" data-wow-duration="1.3s" data-wow-delay=".2s">
              Sashimi Creations
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay=".2s">
        <img src='assets/images/coming_soon.png' />
      </div>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay=".2s">
        <img src='assets/images/coming_soon.png' />
      </div>
      <div class="col-lg-6">
        <div class="about_content pt-120 pb-130">
          <div class="section_title pb wow {{get_animated_class('fadeInRight')}}">
            <h4 class="title" data-wow-duration="1.3s" data-wow-delay=".2s">
              Dota Statistics
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="experience" class="features_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">Where
            I've Worked</h4>
        </div>
      </div>
    </div>
    <div id="companies" class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".4s">
          <img class="company" src="../assets/images/wolin_design_group.png" alt="Wolin Design Group"
            (click)="open_page('wolin_design_group')">
          <h4 class="features_title">2017 - 2019</h4>
          <img class="product" src="../assets/images/davinci_unified.png" alt="Davinci Unified">
          <p>
            Davinci Unified - A warehouse management system used to track inventory and shipping data.
            The challenge was to display this information in an intuitive and performant interface.
            Load times were optimized with lazy loading, pagination, and targeted search and filtering.
            To achieve intuitivity we used familiar layouts and icons users are acquainted with, tabbed navigation,
            and limited our modal overlays to just one popup, as well as reuse UI elements as much as possible
            for a consistent experience.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".8s">
          <img class="company" src="../assets/images/loan_depot.png" alt="loanDepot" (click)="open_page('loan_depot')">
          <h4 class="features_title">2019 - 2021</h4>
          <img class="product" src="../assets/images/mello_assist.png" alt="mello assist">
          <p>mello assist - Internal tool used by </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single_features text-center mt-60 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay="1.2s">
          <img class="company" src="../assets/images/guaranteed_rate.svg" alt="Guaranteed Rate"
            (click)="open_page('guaranteed_rate')">
          <h4 class="features_title">2021 - Present</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="interests" class="portfolio_area pt-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-60">
          <h4 class="title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">
            Interests</h4>
          <!-- <p class="wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".4s">Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="portfolio_wrapper d-flex flex-wrap">
    <div class="single_portfolio wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">
      <img id="dota" src="assets/images/dota.jpg" alt="Interests" class="small_image">
      <div class="portfolio_content">
        <ul class="meta">
          <li><a href="https://www.dota2.com/home" target="_blank"><span
                class="material-icons md-36">open_in_new</span></a></li>
        </ul>
        <h5 class="portfolio_title">Dota 2</h5>
      </div>
    </div>
    <div class="single_portfolio wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".4s">
      <img src="assets/images/mountain_biking.jpg" alt="Interests">
      <div class="portfolio_content">
        <ul class="meta">
          <li><a href="https://www.commencalusa.com/meta-am-29-essential-gun-metal-2021-c2x31920211"
              target="_blank"><span class="material-icons md-36">open_in_new</span></a></li>
        </ul>
        <h5 class="portfolio_title">Mountain Biking</h5>
      </div>
    </div>
    <div class="single_portfolio wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".6s">
      <img src="assets/images/home_automation.jpg" alt="Interests" class="small_image">
      <div class="portfolio_content">
        <ul class="meta">
          <li><a href="https://www.home-assistant.io/" target="_blank"><span
                class="material-icons md-36">open_in_new</span></a></li>
        </ul>
        <h5 class="portfolio_title">Home Automation</h5>
      </div>
    </div>
    <div class="single_portfolio wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".8s">
      <img src="assets/images/photography.jpg" alt="Interests">
      <div class="portfolio_content">
        <ul class="meta">
          <li><a href="#"><span class="material-icons md-36">open_in_new</span></a></li>
        </ul>
        <h5 class="portfolio_title">Photography</h5>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="blog_area pt-120 pb-130">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center pb-25">
          <h4 class="title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">Recent
            Blog</h4>
          <p class="wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".4s">Lorem ipsum
            dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="single_blog mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".2s">
          <div class="blog_image">
            <!-- <img src="assets/images/blog-1.jpg" alt="blog"> -->
          </div>
          <div class="blog_content">
            <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                eirmod tempor .</a></h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
              dolore.Lorem ipsum dolor sit amet, conse sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor
              dolore magna .Lorem ipsum dolor sit amet, consetetur sadipscing elit.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="single_blog blog_2 d-sm-flex mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".2s">
          <div class="blog_image">
            <!-- <img src="assets/images/blog-2.jpg" alt="blog"> -->
          </div>
          <div class="blog_content media-body">
            <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
            <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
        <div class="single_blog blog_2 d-sm-flex mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".3s">
          <div class="blog_image">
            <!-- <img src="assets/images/blog-3.jpg" alt="blog"> -->
          </div>
          <div class="blog_content media-body">
            <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
            <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
        <div class="single_blog blog_2 d-sm-flex mt-30 wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s"
          data-wow-delay=".4s">
          <div class="blog_image">
            <!-- <img src="assets/images/blog-4.jpg" alt="blog"> -->
          </div>
          <div class="blog_content media-body">
            <h3 class="blog_title"><a href="#">Lorem ipsum dolor sit amet, consetetur sadipscing .</a></h3>
            <p>Lorem ipsum dolor sit consetetur sadipscing elitr, sed diam.</p>
            <a href="#" class="more">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact" class="contact_area bg_cover pt-120 pb-130"
  style="background-image: url(assets/images/contact_bg.jpg)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title section_title_2 text-center pb-25">
          <h4 class="title wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".2s">Contact
          </h4>
          <!-- <p class="wow {{get_animated_class('fadeInUp')}}" data-wow-duration="1.3s" data-wow-delay=".4s">Lorem ipsum dolor sit
            amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p> -->
        </div>
      </div>
    </div>
    <form id="contact-form" action="assets/contact.php" method="post" class="wow {{get_animated_class('fadeInUp')}}"
      data-wow-duration="1.3s" data-wow-delay=".4s">
      <div class="row">
        <div class="col-lg-6">
          <div class="single_form">
            <input type="text" placeholder="Name" name="name" id="name" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_form">
            <input type="email" placeholder="Email" name="email" id="email" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_form">
            <input type="text" placeholder="Phone Number" name="number" id="number" required>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="single_form">
            <input type="text" placeholder="Subject" name="subject" id="subject" required>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="single_form">
            <textarea placeholder="Message" name="message" id="message" required></textarea>
          </div>
        </div>
        <p class="form-message"></p>
        <div class="col-lg-12">
          <div class="single_form text-center">
            <button class="main-btn" type="submit">Send Message</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<a href="#" class="back-to-top"><i class="material-icons md-36">expand_less</i></a>

<router-outlet></router-outlet>